
@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

html{
  overflow-x: hidden;
  margin: 0;
  
}
body{
  /* background-color: black; */
  background-color: #142427;

  margin: 0;
  margin-top:-10px;
  text-decoration: none;
  color: white;
}

.App {
  text-align: center;
  width: 100%;

  /* font-family: 'Saira', sans-serif; */
  font-family: 'Fira Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dbccab;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fafafa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1, h2{
  margin: 0;
  font-size: 0.8em;

}

.coming{
display: flex;
}
audio{
  width: 100%;
}
.text-wrapper{
display: flex;
flex-direction: column;
}
.two-columns{
display: flex;
flex-direction: row;
justify-content: space-around;

font-size: 0.5em;
}
.add-input{
  margin: 0 auto;
  margin-bottom: 10px;
  height: 2em;
  text-align: center;
  width: 60%;
  color: #63C0FF;;
  /* background-color: rgb(201, 227, 245); */
  background-color: #A7C7DD80;
  border-radius: 3px;
  /* #63C0FF */
  border: 2px solid rgb(165, 237, 255);
}
.logout{

    /* style: none; */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

  /* font-family: 'Saira', sans-serif; */
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 1.3em;
  background-color: transparent;

}
.title{
  color: white;
  text-decoration: none;
  /* margin-top: 30px; */
  padding-top: 15px;

  /* font-family: 'Saira', sans-serif; */
  font-family: 'Fira Sans', sans-serif;
}
.signup{
height: 100%;
margin-top: 10%
}
.login{
  height: 100%;
  margin-top: 10%
  }
  .profile-photo{
    border-radius: 50%;
    margin-top: 10px;
  }
  .profile-line{
    display: flex;
    justify-content: center;
  }
  .nav-link, .profile-link{
    color: white;
    text-decoration: none;
  }
  .profile-top{
    margin-top: 0;
  }
  .name{
    color: white;
    font-size: 0.6em;
    text-decoration: none;
  }
  .drum{
    width: 150px;
    height: 150px;
    border: 1px solid white;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
  }
  .drum:hover{
    border: 1px solid #63BFFF;
  }
  .two-drums{
    display: flex;
    flex-direction: column;
  }
label{
  font-size: 0.8em;
}
.folded:hover{
  animation: flip-scale-2-hor-top 0.5s linear both;
}
.folded{
height: 700px;
}

.related-concert{
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  /* border-radius: 5%; */
  margin: 15px;
}
.related-concert img{
    margin:5px;
    height: 80px;
    width: 80px;
    border: 1px solid gray;
    border-radius: 10%;
    object-fit: cover;
}
.text-related{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
}
.artistName {
  margin: 15px 0;
  padding: 5px 0;
  border-bottom: 1px solid gray;
}
.event-details-text{
  text-align: left;
  margin: 10px;
}
.coming{
  text-align: left;
  margin: 10px;
}
.drumLink{
border-bottom: 0.1px solid rgb(133,133,133,72); 
margin-top: 230px;
border-bottom: none;
font-size: 1.3em;
}
.menuLink{
  border-bottom: 0.1px solid rgb(133,133,133,72);
  margin: 15px 0;
  font-size: 1.3em;
}

@media (min-width: 480px) {
  body{
    /* background-color: tomato; */
  }
}


